body {
  background: #f4e3a1;
  font-family: sans-serif;
  color: green;
}

h1, h2 {


}


div {
  padding: 1em;
}

input {
  padding-right: 2em;
}

button {
  font-size: 1em;
  width: 100px;
  box-sizing: border-box;
  margin-top: 1em;
  background: green;
  color: white;
  border: 0;
  padding: 1em;
  border-radius: 0.5em;
  text-transform: uppercase;
}
